body {
    padding-bottom:400px;
}
@font-face {
    font-family: "blackHans";
    src: url("../../fonts/BlackHanSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MyFont";
    src: url("../../fonts/anton.woff") format("woff"),
    url("../../fonts/anton.woff") format("woff");
}
.head{
    font-weight: 700;
    font-size: 60px ;
    color:  #7a9673;
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: blackHans;
}
.headContainer{
    text-align: left;
    display: flex;
}


h2 {
    /*font-weight: 800 !important;*/
    color: #799572 !important;
    margin-bottom: 50px;
}



.mainContainer {
    background-image: url('../images/p5.jpg');
    /*padding: 2% 20%;*/
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.certBox{
    background-color: white;
    border-radius: 20px;
    height:auto;
    width: 48%;
    margin: 5% 1%;
    padding: 1%;
    border:white;
    opacity: 0;
    transform:translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    font-family:'Helvetica' !important;
    font-weight: normal!important;
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);*/
}
.certBox.show{
    opacity: 1;
    transform: translateY(0);
}
.certification{
    display: flex;
    flex-wrap: wrap;
}
/*.certBox:hover{*/
/*    !*transition: 0.2s ease-in-out;*!*/
/*    !*transform: translate(-2%,-2%);*!*/
/*    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);*/
/*}*/
.certification .certBox:nth-child(odd):last-child {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.about, .education, .other {
    display: grid;
    background-color: white;
    border-radius: 40px;
    color: #5891b0;
    padding: 6% 10%;
    margin-bottom: 130px;
    line-height: 35px;
}



.ex{
    opacity: 0;
    transform:translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background: rgb(255, 255, 255) !important;
    border-radius: 20px;
    line-height: 35px;
}
@media screen and (max-width: 1000px) {
    .certification{
        display: flex;
        flex-direction: column;
    }
    .certBox{
        width: 100%;
    }

}
.box p{
    font-family: Helvetica;
    font-weight: 370;
    color:#52644d !important;
}
.ex.show{
    opacity: 1;
    transform: translateY(0);
}
.pic{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
}
.slides{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}
.box{
    padding:30px;
    font-size: 17px;
}


.footer {
    background-color: #7a9673;
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.grid-container{
    display: grid;
    grid-template-columns: 8fr 4fr;
    padding: 0 100px;
}

.moreDetails{
    font-family: Montserrat;
    border-radius: 50px;
    background-color: rgba(144, 155, 187, 0);
    color: white;
    padding:20px ;
    border-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.moreDetails:hover{
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    transform: translate(-52%,-55%);
}
.modal {
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1000;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5% 8%;
}

.modal-content {
    margin: 5% auto;
    border-radius: 15px;
    max-width: 800px;
    font-size: 0.95rem;

    background: rgba( 255, 255, 255, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgba(94, 129, 154, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: whitesmoke !important;
}
.lang{
    background-color:  #7a9673;
    border-radius: 5px;
    display: inline-block;
    padding:10px;
    color: white;
}
.networkingSlides,
.pandoraSlides,
.odooSlides,
.pianoSlides {
    display: none;
}



.card-box {
    opacity: 0;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transform:translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.card-box.show {
    opacity: 1;
    transform: translateY(0);
}


.card-date {
    display: block;
    font-size: 25px;
    color: #7a9673;

    font-family:MyFont
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-title {
    font-size: 45px;
    font-family: MyFont;
    color:#7a9673;
    margin: 0;

}

.card-subtitle {
    font-size: 25px;
    color:#52644d;
    font-family: MyFont;
}

.card-text, .card-desc {
    font-size:18px;
    line-height: 1.6;
    margin: 0;
    font-family: 'Helvetica';
    color:#52644d;
}

.card-desc {
    padding-left: 20px;
    list-style-type: disc;
}