body{
    background-color: #7481aa;
    z-index: -1;
}
h3{
    color:white;
    font-family: 'Julius Sans One', serif;
    font-size: 60px;
    padding-bottom:30px;
}

.wish{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 30px;
}
.info{
    margin-top: 100px;
    padding:0 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.foot{
    font-family: 'Julius Sans One', serif;
    font-size: 18px;
    color: white;
}
.imga{
    width: 30px;
    height: auto;
    margin-right: 13px;
}
.contact {
    color: white;
    font-size: 16px;
    margin: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

