body {
    padding-bottom:400px;
}
.mainContainer {
    /*background: #16314D;*/
    padding: 2% 20%;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.head{
    font-weight: 700;
    font-size: 70px ;
    color:  #7a9673;
    padding: 80px 0;
    font-family: 'Black Han Sans', serif ;
}
.headContainer{
    text-align: left;
    display: flex;
}

.divider {
    margin-bottom: 100px;
    margin-top: 50px;
    height: 1px;
    background-color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 8fr 4fr;
    padding: 0 100px;
}

.option{
    /*font-family: 'Julius Sans One', serif;*/
    background-color: transparent;
    color: rgba(142, 162, 138, 0.55);
    font-size: 23px;
    padding: 20px 35px;
    border: none;
    width: 150px;
    text-align: left;
}
.skills-set.active .option {
    color:  #7a9673;
    font-weight: 700;
}
.skills-set.active {
    border-left: 2px solid  #7a9673;
}


.skills-row {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 100px;*/
}

.skills-set {
    display: flex;
    align-items: center;
    gap: 50px;
    border-left: 2px solid rgba(255, 255, 255, 0.24);
}


.skills {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.skills.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.option:hover{
    transition: 0.2s ease-in-out;
    transform: translate(0%,-15%);
}

.iconBox {
    border-radius: 15px;
    width: 90px;
    height: 70px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(231, 230, 226, 0.78) !important;
    box-shadow:-3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}
.iconBox:hover{
    background-color: rgba(122, 150, 115, 0.35) !important;
}
.iconBox img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
}
.iconBox:hover .iconLabel {
    display: block;
}
.iconLabel{
    display: none;
    position: absolute;
    color: #4a6245;
    font-weight: normal;
    font-size: 13px;
    font-family: "Black Han Sans";

}
.iconBox:hover img{
    opacity: 0.1;
}
.footer {
    background-color: #7a9673;
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.skills-row{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.skills-row.show {
    opacity: 1;
    transform: translateY(0);
}